@page
@model zad3.NET.Pages.ostatnio_szukaneModel
@{
}


<p>Dane w zapisane w sesji</p>



@if (Model.FizzBuzz != null)
{
<table>
    <p>
        @Model.FizzBuzz.liczba
    </p>

    <p>
        @Model.FizzBuzz.wynik
    </p>

    <p>
        @Model.FizzBuzz.data
    </p>
</table>
}

